src/main/resources/META-INF/xsd/smooks/dfdl-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:smooks="https://www.smooks.org/xsd/smooks-1.2.xsd"
            xmlns:smooks-dfdl="https://www.smooks.org/xsd/smooks/dfdl-1.0.xsd"
            targetNamespace="https://www.smooks.org/xsd/smooks/dfdl-1.0.xsd"
            elementFormDefault="qualified">

    <xsd:import namespace="https://www.smooks.org/xsd/smooks-1.2.xsd"/>

    <xsd:annotation>
        <xsd:documentation xml:lang="en">Smooks DFDL Cartridge Resource Configuration</xsd:documentation>
    </xsd:annotation>

    <xsd:element name="parser" type="smooks-dfdl:parser" substitutionGroup="smooks:abstract-reader">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                A DFDL parser reads a flat file according to the grammar defined in a DFDL schema and generates the
                corresponding event stream for Smooks to process.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="unparser" substitutionGroup="smooks:abstract-resource-config" type="smooks-dfdl:unparserVisitor">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                A visitor unparses a fragment according to the grammar defined in a DFDL schema.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="parser">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">DFDL Parser</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="smooks:abstract-reader">
                <xsd:sequence>
                    <xsd:element name="variables" type="smooks-dfdl:variables" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
                <xsd:attributeGroup ref="smooks-dfdl:parserAttributes"/>
                <xsd:attributeGroup ref="smooks-dfdl:parserUnparserAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="unparserVisitor">
        <xsd:complexContent>
            <xsd:extension base="smooks:element-visitor">
                <xsd:sequence>
                    <xsd:element name="variables" type="smooks-dfdl:variables" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
                <xsd:attributeGroup ref="smooks-dfdl:unparserAttributes"/>
                <xsd:attributeGroup ref="smooks-dfdl:parserUnparserAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="variables">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Set variables within the DFDL schema.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="variable" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Set a variable within a DFDL schema.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:attribute name="name" type="xsd:string" use="required"/>
                    <xsd:attribute name="value" type="xsd:string" use="required"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:attributeGroup name="unparserAttributes">
        <xsd:attribute name="unparseOnElement" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The selector of the fragment to unparse.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>

    <xsd:attributeGroup name="parserAttributes">
        <xsd:attribute name="indent" type="xsd:boolean" default="false">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    Add indentation character data to the generated event stream. This simply makes
                    the generated event stream easier to read in its serialized form. Useful for
                    testing etc...
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>

    <xsd:attributeGroup name="parserUnparserAttributes">
        <xsd:attribute name="validationMode" type="smooks-dfdl:validationMode" default="Off">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    Validation modes for validating the resulting infoset against the DFDL schema. The default value is "Off".
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="schemaURI" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The URI of the DFDL schema.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="cacheOnDisk" type="xsd:boolean" default="false">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    Persist DFDL schema on disk to reduce compilation time in subsequent runs. The default value is "false".
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="debugging" type="xsd:boolean" default="false">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    Persist DFDL schema on disk to reduce compilation time in subsequent runs. The default value is "false".
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>

    <xsd:simpleType name="validationMode">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Full" />
            <xsd:enumeration value="Limited" />
            <xsd:enumeration value="Off" />
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>