src/main/resources/META-INF/xsd/smooks/dfdl-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ========================LICENSE_START=================================
  Smooks DFDL Cartridge
  %%
  Copyright (C) 2020 - 2021 Smooks
  %%
  Licensed under the terms of the Apache License Version 2.0, or
  the GNU Lesser General Public License version 3.0 or later.

  SPDX-License-Identifier: Apache-2.0 OR LGPL-3.0-or-later

  ======================================================================

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

  ======================================================================

  This program is free software; you can redistribute it and/or
  modify it under the terms of the GNU Lesser General Public
  License as published by the Free Software Foundation; either
  version 3 of the License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  Lesser General Public License for more details.

  You should have received a copy of the GNU Lesser General Public License
  along with this program; if not, write to the Free Software Foundation,
  Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
  =========================LICENSE_END==================================
  -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:smooks="https://www.smooks.org/xsd/smooks-2.0.xsd"
            xmlns:dfdl="https://www.smooks.org/xsd/smooks/dfdl-1.0.xsd"
            targetNamespace="https://www.smooks.org/xsd/smooks/dfdl-1.0.xsd"
            elementFormDefault="qualified">

    <xsd:import namespace="https://www.smooks.org/xsd/smooks-2.0.xsd"/>

    <xsd:annotation>
        <xsd:documentation xml:lang="en">Smooks DFDL Resource Configuration</xsd:documentation>
    </xsd:annotation>

    <xsd:element name="parser" type="dfdl:parser" substitutionGroup="smooks:abstract-reader">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                A DFDL parser reads data according to the grammar defined in a DFDL schema and generates the
                corresponding event stream for Smooks to process.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="unparser" substitutionGroup="smooks:abstract-resource-config" type="dfdl:unparserVisitor">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                An unparser visitor serialises a fragment according to the grammar defined in a DFDL schema.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="parser">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">DFDL Parser</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="smooks:abstract-reader">
                <xsd:sequence>
                    <xsd:element name="variables" type="dfdl:variables" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
                <xsd:attributeGroup ref="dfdl:parserAttributes"/>
                <xsd:attributeGroup ref="dfdl:parserUnparserAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="unparserVisitor">
        <xsd:complexContent>
            <xsd:extension base="smooks:element-visitor">
                <xsd:sequence>
                    <xsd:element name="variables" type="dfdl:variables" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
                <xsd:attributeGroup ref="dfdl:unparserAttributes"/>
                <xsd:attributeGroup ref="dfdl:parserUnparserAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="variables">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Set variables within the DFDL schema.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="variable" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Set a variable within a DFDL schema.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:attribute name="name" type="xsd:string" use="required"/>
                    <xsd:attribute name="value" type="xsd:string" use="required"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:attributeGroup name="unparserAttributes">
        <xsd:attribute name="unparseOnNode" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The selector of the node to unparse.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="distinguishedRootNode" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    Specify a global element to be the root of DFDL Schema to start parsing.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>

    <xsd:attributeGroup name="parserAttributes">
        <xsd:attribute name="indent" type="xsd:boolean" default="false">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    Indent the generated event stream to make it easier to read. Useful for troubleshooting.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>

    <xsd:attributeGroup name="parserUnparserAttributes">
        <xsd:attribute name="validationMode" type="dfdl:validationMode" default="Off">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    Validation modes for validating the resulting infoset against the DFDL schema. The default value is "Off".
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="schemaURI" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    URI of the DFDL schema.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="cacheOnDisk" type="xsd:boolean" default="false">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    Persist DFDL schema on disk to reduce compilation time in subsequent runs. The default value is "false".
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="debugging" type="xsd:boolean" default="false">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    Enable/disable trace debugging. The default value is "false".
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>

    <xsd:simpleType name="validationMode">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Full" />
            <xsd:enumeration value="Limited" />
            <xsd:enumeration value="Off" />
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>