src/main/resources/META-INF/xsd/smooks/dfdl-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:smooks="https://www.smooks.org/xsd/smooks-1.2.xsd"
            xmlns:smooks-dfdl="https://www.smooks.org/xsd/smooks/dfdl-1.0.xsd"
            targetNamespace="https://www.smooks.org/xsd/smooks/dfdl-1.0.xsd"
            elementFormDefault="qualified">

    <xsd:import namespace="https://www.smooks.org/xsd/smooks-1.2.xsd"/>

    <xsd:annotation>
        <xsd:documentation xml:lang="en">Smooks DFDL Resource Configuration</xsd:documentation>
    </xsd:annotation>

    <xsd:element name="parser" type="smooks-dfdl:parser" substitutionGroup="smooks:abstract-reader">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                A DFDL parser reads a flat file by using grammar defined in a DFDL schema file and generates the
                corresponding event stream that Smooks can process.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="unparser" substitutionGroup="smooks:abstract-resource-config" type="smooks-dfdl:unparserVisitor">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                A visitor that uses grammar defined in a DFDL schema file to unparse a fragment selected by the
                "unparseOnElement" attribute.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="parser">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">DFDL Parser</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="smooks:abstract-reader">
                <xsd:sequence>
                    <xsd:element name="variables" type="smooks-dfdl:variables" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
                <xsd:attributeGroup ref="smooks-dfdl:parserAttributes"/>
                <xsd:attributeGroup ref="smooks-dfdl:parserUnparserAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="unparserVisitor">
        <xsd:complexContent>
            <xsd:extension base="smooks:element-visitor">
                <xsd:sequence>
                    <xsd:element name="variables" type="smooks-dfdl:variables" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
                <xsd:attributeGroup ref="smooks-dfdl:unparserAttributes"/>
                <xsd:attributeGroup ref="smooks-dfdl:parserUnparserAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="variables">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Set variable values within a DFDL schema.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="variable" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        Set the value of a variable within a DFDL schema.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:attribute name="name" type="xsd:string" use="required"/>
                    <xsd:attribute name="value" type="xsd:string" use="required"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:attributeGroup name="unparserAttributes">
        <xsd:attribute name="unparseOnElement" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The selector of the fragment to unparse.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>

    <xsd:attributeGroup name="parserAttributes">
        <xsd:attribute name="indent" type="xsd:boolean" default="false">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    Add indentation character data to the generated event stream. This simply makes
                    the generated event stream easier to read in its serialized form. Useful for
                    testing etc...
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>

    <xsd:attributeGroup name="parserUnparserAttributes">
        <xsd:attribute name="validateDFDLSchemas" type="xsd:boolean" default="false">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    Enable/disable DFDL validation of resulting infoset with the DFDL schema. Default is
                    'false'.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="schemaURI" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The URI of the DFDL schema.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>
</xsd:schema>